<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>change info</title>
        <link rel="icon" type="image/x-icon" href="{% static 'images/icon.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>

    <body>
        <h1>Change Info</h1>

        <form action="/changeinfo" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
            <input type="submit" value="Submit">
        </form>

        <br><br>

        <form action="/deleteaccount" method="get">
            <input type="submit" value="Delete Account">
        </form>

        <br><br>
        
        <form action="/welcome" method="get">
            <input type="submit" value="Go back">
        </form>
    </body>
</html>