<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>deleteAccount</title>
        <link rel="icon" type="image/x-icon" href="{% static 'images/icon.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>

    <body>
        <h1>Delete Account</h1>
        <p>Don't miss click</p>
        <br>
        <form action="/deleteaccount" method="post">
            {% csrf_token %}
            <input type="submit" value="DELETE">
        </form>
    </body>
</html>