<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>SignUp</title>
        <link rel="icon" type="image/x-icon" href="{% static 'images/icon.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>

    <body>
        <h2>
            Sign Up
        </h2>

        <form action="/signup" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.label_tag }} {{ field }} {{ field.errors }}
                </div>
            {% endfor %}
            <input type="submit" value="Submit">
        </form>
        <br><br>
        <form action="/logout" method="get">
            <input type="submit" value="Go Back">
        </form>
    </body>
</html>